@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.dark-mode body {
  @apply bg-dark;
}

.light-mode body {
  @apply bg-light;
}

.light-mode .nuxt-link-exact-active {
  @apply text-light-primary;
}

.dark-mode .nuxt-link-exact-active {
  @apply text-dark-primary;
}

.light-mode .nuxt-link-active {
  @apply text-light-primary;
}

.dark-mode .nuxt-link-active {
  @apply text-dark-primary;
}

.light-mode .fill-accent {
  fill: #7009f6;
}

.dark-mode .fill-accent {
  fill: #3adbb9;
}

.light-mode .fill-logo {
  fill: #7009f6;
}

.dark-mode .fill-logo {
  fill: #d0fff9;
}

.light-mode .fill-eyes {
  fill: #7009f6;
}

.dark-mode .fill-eyes {
  fill: #3adbb9;
}

.nuxt-content-highlight {
  @apply relative;
}

.nuxt-content-highlight .filename {
  @apply absolute right-0 text-light-accent font-light z-10 mr-2 mt-1 text-sm;
}

.dark-mode .nuxt-content-highlight .filename {
  @apply absolute right-0 text-dark-accent font-light z-10 mr-2 mt-1 text-sm;
}

.nuxt-content p {
  @apply mb-8 text-justify text-sm text-light-secondary;
}

.dark-mode .nuxt-content p {
  @apply mb-8 text-justify text-sm text-dark-accent;
}

.nuxt-content h2 {
  @apply mt-8 mb-4 text-light-primary text-lg font-bold transition-all duration-300 ease-in-out text-xl;
}

.dark-mode .nuxt-content h2 {
  @apply mt-8 mb-4 text-dark-primary text-lg font-bold transition-all duration-300 ease-in-out text-xl;
}
